 h2{
     margin: 20px;
     animation: fadeIn 2s;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
     color: rgb(199, 26, 26);   
        font-size: 40px;    
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    

            
}
   h1{
            margin: 20px;
            animation: fadeIn 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
            color: rgb(47, 9, 75);
            background: #9df55e;
            position: relative;
            font-size: 70px;
            text-align: center;
            font-weight: bold;
             
            
            

        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
        img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            filter: drop-shadow(2px 4px 6px black);
            -webkit-filter: drop-shadow(2px 4px 6px black);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
a {
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(97, 127, 236);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(2px 4px 6px black);
    -webkit-filter: drop-shadow(2px 4px 6px black); 
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

p{
    margin: 20px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;      
    animation-timing-function: ease-in-out;
    color: rgb(199, 26, 26);   
    font-size: 25px;    
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}


.img{
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: drop-shadow(2px 4px 6px black); 
    -webkit-filter: drop-shadow(2px 4px 6px black);
}