<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
      <h1 >About Me</h1>
   <h2>Full Stack Developer | AI & ML Engineer | DevOps Engineer</h2>
   <img src="{{ url_for('static', filename='s1.png') }}" alt="Sujal Image" width="800" height="800">
    <p>I am Sujal s kumar, a passionate full stack developer with expertise in AI, ML, and DevOps. With a strong background in software development and a keen interest in emerging technologies, I strive to create innovative solutions that drive business success. My journey in the tech world has equipped me with a diverse skill set, allowing me to tackle complex challenges and deliver high-quality results. I am committed to continuous learning and growth, always seeking new opportunities to expand my knowledge and contribute to impactful projects.</p>
   
    </div>
    
</body>
</html>