<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1 >Sujal s kumar</h1>
    <h2>full stack developer |  Ai & ml engineer | devops engineer</h2>
    <img src="{{ url_for('static', filename='sujal.jpg') }}" alt="Sujal Image" width="300" height="400">
    <a href="/about">more About Me</a>
   
    </div>
    
    
</body>
</html>